<script src="https://static.line-scdn.net/liff/edge/versions/2.12.0/sdk.js"></script>

<div class="container mt-3">
    <div class="d-flex flex-column justify-content-center my-0">
       
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/32/Emblem_of_Thammasat_University.svg/1024px-Emblem_of_Thammasat_University.svg.png"
            class="d-flex row align-self-center mb-5">

        <p class="h1 row justify-content-center">ระบบห้องพัสดุ มหาวิทยาลัยธรรมศาสตร์ ศูนย์ลำปาง</p>

        <p class="h1 row justify-content-center">Parcel room System, Thammasat University</p>

        <div class="row g-3 align-items-center a1">
            <div class="col-auto">
                <label class="col-form-label">ชื่อ</label>
            </div>
            <div class="col-auto ">
                <input [(ngModel)]="name" placeholder="กรุณาใส่ชื่อของคุณ" value="" class="w-100 h2 b1">
            </div>
        </div>
        <section>
            <div class="example-button-row">
                <button (click)="close()" class="bt1" mat-raised-button>ยกเลิก</button>
                <button (click)="addToken()" class="bt2" color="primary">ยืนยัน</button>
            </div>
        </section>

        <!-- <div class="d-md-flex flex-row mx-5 mt-5 mb-4 align-self-center">
            <div class="bt-container row align-self-center">
                <button mat-raised-button class="confirm-bt fs-3 mx-6 px-2 py-3" (click)="liff_open()" >Login with LINE
                    Account</button>
            </div>
        </div> -->

    </div>
</div>